In [1]:
import numpy as np
import pandas as pd

# Machine Learning ZoomCamp Week1: Numpy and pandas review

### Question 1

In [5]:
np.__version__

'1.21.5'

### Question 2, 3,4, 5 : Simple pandas operations

In [2]:
cars = pd.read_csv('data.csv')

In [4]:
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
cars.shape

(11914, 16)

In [11]:
cars["Make"].value_counts()[0:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [14]:
cars.loc[cars["Make"]=="Audi"]["Model"].value_counts().size

34

In [18]:
cars.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 6: Median after imputation

In [20]:
cars["Engine HP"].median()

227.0

In [23]:
cars_fill = cars.fillna(0)

In [24]:
cars_fill["Engine HP"].median()

225.0

### Question 7: Numpy formulas

In [26]:
lr_df = cars.loc[cars["Make"]=="Lotus"][["Engine HP","Engine Cylinders"]]

In [28]:
lr_df.drop_duplicates(inplace=True)

In [29]:
lr_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [30]:
X = lr_df.to_numpy()

In [34]:
XTX = np.matmul(X.T, X)

In [35]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [36]:
w = np.matmul(np.matmul(np.linalg.inv(XTX), X.T), y)

In [37]:
w

array([  4.59494481, -63.56432501])

### The end